<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3"></script>

    <div id="app">
        <h1>{{title}}</h1>

        <input type="text" v-model="text">
        <input type="text" v-model="name">
        <input type="text" v-model="age">

        <p>Matn: {{text}}</p>
        <p>Ism: {{name}}</p>
        <p>Yosh: {{age}}</p>
    </div>
    <script>
        const app = {
            data(){
                return{
                    title:'Hodisalar',
                    text: '',
                    name: '',
                    age: ''
                }
            }
        }

        Vue.createApp(app).mount('#app')
    </script>
</body>
</html> 